<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/style.css">
    <title>{{ titulo }}</title>
</head>
<body>
    <header>
        <h1>{{ titulo }}</h1>
        <p>Autor: {{ autor }}</p>
        <p>Data: {{ data }}</p>
      </header>
    
      <main>
        <article>
          {{ conteudo }}
        </article>
      </main>
    
      <footer>
        <a href="../index.html">Home</a>
        <p>© 2023 Blog do Matheus. Todos os direitos reservados.</p>
      </footer>
</body>
</html>
